<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c2f73f74-48a9-496f-9940-bbbcd13ee8c6" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://raw.githubusercontent.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c2f73f74-48a9-496f-9940-bbbcd13ee8c6fileName">https%3A%2F%2Fraw.githubusercontent.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://raw.githubusercontent.com</con:endpoint></con:endpoints></con:interface>