<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b04d6dd5-571f-4f85-a06f-c761f5930faf" name="MedicareSupplierTestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b04d6dd5-571f-4f85-a06f-c761f5930faffileName">MedicareSupplierTestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>